<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">
    <title>Sample Page</title>
</head>

  <body>
    <div class="container">
        <br>
            {% extends "layout.html" %}
            {% block content %}
            <h3> Experience </h3>
            <ul>
                {% for n in experience_list %}
                <li>{{n}}</li>
                {% endfor %}
            </ul>
            <h3>Education</h3>
            <ul>
                {% for n in education_list %}
                <li>{{n}}</li>
                {% endfor %}
            </ul>
            <h3>Hobbies</h3>
            <ul>
                {% for n in hobby_list %}
                <li>{{n}}</li>
                {% endfor %}
            </ul>
            <h3> This is the end of my child template</h3>{% endblock %}
        <br>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>